@use "sass:color";

$background: #242424;
$secondary: #444444;
$primary: #FFFFFF;
$ok: #46b94a;
$error: #c40606;
$warning: #ffbb1c;

body {
  background-color: $background;
  fill: $background;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
}

.display-none {
  display: none;
}

.cpu-divider {
  stroke: color.adjust($primary, $lightness: -50%);
  fill: transparent;
}

.guide-primary {
  stroke: color.adjust($primary, $lightness: -70%);
  fill: transparent;
}

.guide-secondary {
  stroke: color.adjust($primary, $lightness: -80%);
  fill: transparent;
}

.fill-primary {
  fill: $primary;
}

.cpu-history-background {
  @extend .display-none;
}

.cpu-history-background-outer {
  @extend .display-none;
}

.cpu-history-background-inner {
  @extend .cpu-divider;
}

.cpu-history-background-guide {
  @extend .guide-secondary;
}

.cpu-history-background-guide-primary {
  @extend .guide-secondary;
}

.cpu-history-bar {
  @extend .fill-primary;
}

.cpu-history-background-compass-guide {
  @extend .guide-secondary;
}

.cpu-history-background-compass-guide-primary {
  @extend .guide-primary;
}

.cpu-speed-bar {
  @extend .guide-primary;
}

.cpu-speed-bar-active {
  stroke: $primary;
}

.cpu-cores-bar {
  fill: $primary;
  stroke: none;
}

.cpu-cores-background {
  @extend .display-none;
}

.cpu-cores-background-outer {
  @extend .guide-primary;
}

.cpu-cores-background-inner {
  @extend .guide-secondary;
}

.cpu-cores-background-guide {
  @extend .guide-secondary;
}

.dotflow-guide-primary {
  @extend .guide-primary;
}

.dotflow-guide {
  @extend .guide-secondary;
}

.cpu-overall {
  fill: $primary;
  font-weight: 300;
  font-size: 30px;
  dominant-baseline: central;
  text-anchor: middle;
}

.cpu-title {
  @extend .cpu-overall;
  font-weight: bold;
  font-size: 12px;
}

.cpu-speed-label {
  text-anchor: middle;
  dominant-baseline: central;
  font-size: 12px;
  font-weight: normal;
  fill: $primary;
}

.cpu-temperature-dot {

}

.cpu-cores-frame-segment {
  fill: transparent;
  stroke-width: 4px;
  stroke: $background;
}

.memory-info {
  display: flex;
  width: calc(100% - 12px);
  margin-left: 6px;
  margin-right: 6px;
}

.memory-title {
  font-weight: bold;
  fill: $primary;
}

.network-interface {
  font-weight: normal;
}

.network-dotflow-title {
  font-weight: bold;
  fill: $primary;
}

.badge-label {
  font-weight: bold;
}

.badge-text {
  fill: $primary;
}

.network-usage-badge .badge {
  stroke: $primary;
}

.usage-grid-item {
  stroke: none;
}

.network-hexagon-normal {
  fill: $primary;
}

.network-hexagon-error {
  fill: $error;
}

.network-hexagon-label {
  fill: $primary;
  text-anchor: middle;
  dominant-baseline: central;
  font-size: 20px;
}

.process-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  border-left: 1px solid #444444;
  border-right: 1px solid #444444;
}

.process-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.process-entry {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid #444444;
  padding: 0 5px;
}

.process-name {
  flex-grow: 1;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 8px 5px;
}

.process-value {
  width: 85px;
  min-width: 85px;
  flex-grow: 0;
  padding: 8px 5px;
  text-align: right;
}

.process-legend, .process-legend * {
  font-weight: bold;
  padding-top: 0;
}

.process-legend button {
  cursor:pointer;
  color: $primary;
  width: 95px;
}

.process-legend-icon {
  height: 12px;
}