.default-theme {
  background-color: #242424;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
}

text {
  fill: #FFFFFF;
}

.background-primary {
  background-color: #242424;
}

.background-secondary {
  background-color: #444444;
}

.background-primary-fill {
  fill: #242424;
}

.background-secondary-fill {
  fill: #444444;
}

.background-primary-stroke {
  stroke: #242424;
}

.background-secondary-stroke {
  stroke: #444444;
}

.cpu-primary-fill {
  fill: #699CC2
}

.memory-primary-fill, .memory-usage-graph .linear-graph-bar {
  fill: #9e69c2;
}

.swap-primary-fill, .swap-usage-graph .linear-graph-bar {
  fill: #c269b9;
}

.network-primary-fill, .network-usage-graph .linear-graph-bar {
  fill: #C29769;
}

.disk-primary-background {
  background-color: #46b94a;
}

.error-fill {
  fill: #ff2424;
}

.background-dot {
  fill: #444444;
}

.widget {
  border-top: 2px solid #999999;
  border-bottom: 2px solid #999999;
  box-sizing: border-box;
  padding: 10px;
}

.widget-title {
  margin-bottom: 10px;
  font-size: 14pt;
  text-align: center;
}

.cpu-cores-bar {
}

.cpu-history-bar {
  stroke-width: 1px;
  font-size: 14pt;
}

.graph-mid-line {
  stroke: #FFFFFF;
}
