.detail-group {
  align-self: stretch;
  margin: 10px 0;
}

.detail-title {
  margin-bottom: 7px;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

.detail-items-container {
  display: grid;
  grid-template-columns: 100px 1fr;
  column-gap: 10px;
  row-gap: 4px;
}

.detail-item-label {
  text-align: right;
}

.detail-divider {
  background-color: #444444;
  align-self: stretch;
  height: 1px;
  flex-shrink: 0;
}

.detail-item-value {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 300;
}

.detail-groups {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-self: stretch;
}

.detail-groups:hover {
  overflow-y: auto;
}
