/* latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../../resources/fonts/exo/static/Exo-ExtraLight.ttf) format('truetype');
}

/* latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../../resources/fonts/exo/static/Exo-Light.ttf) format('truetype');
}

/* latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../resources/fonts/exo/static/Exo-Medium.ttf) format('truetype');
}

/* latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../../resources/fonts/exo/static/Exo-Bold.ttf) format('truetype');
}


/* latin */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../resources/fonts/icons/MaterialSymbolsRounded-VariableFont_FILL,GRAD,opsz,wght.ttf) format('truetype');
}
