.memory-usage-graph-container, .swap-usage-graph-container {
  flex-grow: 1;
  width: 100%;
  min-height: 0;
}

.memory-usage-capacity-label, .memory-usage-capacity-value,
.memory-usage-usage-label, .memory-usage-usage-value {
  font-size: 10px;
}

.memory-usage-capacity-label, .memory-usage-usage-label {
  font-weight: bold;
}

.memory-usage-graph-legend-label {
  text-anchor: end;
  alignment-baseline: hanging;
}
